body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.input-search {
  width: 393px;
  border-radius: 20px;
  border: none;
  background-color: #f5f5f5;
  padding: 8px 16px;
}

#btn-login {
  width: 182px;
  height: 50px;
}

input[type='text']{
  background-image: url(../images/Icone-pesquisa.png);
  background-position: 355px 6px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 991px) {
  .input-search {
    border: solid 1px red;
    margin: 0 auto;
  }

  #btn-login {
    border: solid 1px green;
  }
}

@media screen and (max-width: 441px) {
  .input-search {
    border: solid 1px red;
    margin: 0 auto;
  }

  #btn-login {
    border: solid 1px green;
  }
}