.container {
    width: 85%;
    margin: 0 auto;
    background-color: antiquewhite;
    border: solid 1px greenyellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.cabecalho-titulo {
	margin-bottom: 10px;
}

.botao-login {
    background-color: transparent;
    height: 40px;
    width: 130px;
    border: solid 1px #2A7AE4;
    float: right;
}